@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* Your other global styles start below */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* rest of your styles */
@font-face {
  font-family: "Clash";
  src: url("../src/fonts/Clash/Clash-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@layer base {
  html {
    font-family: Clash, Poppins, system-ui, sans-serif;
    background-color: #000000;
  }
}

/* .slick-list,
.slick-track,
.slick-slide div {
  height: 100% !important;
  width: 100% !important;
} */

/* .slick-list {
  min-height: 100% !important;
} */
.slick-slider {
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center;
}

.text-year {
  font-size: 2vw;
}
.text-date {
  font-size: 1.7vw;
}
.text-desc {
  font-size: 1.7vw;
}

.slot-machine {
  position: relative;
  width: 100%;
  overflow: hidden;
  clip-path: circle(135% at 50% 112%);
  margin-top: -12%;
}

.flicker-left {
  opacity: 1;
  animation: flickerLight 2s linear reverse infinite;
}
.flicker-right {
  opacity: 1;
  animation: flickerLight 2s linear 1.2s reverse infinite;
}

@keyframes flickerLight {
  0% {
    opacity: 0.4;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.85;
  }
  25% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.25;
  }
  45% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.85;
  }
  80% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.hero-video {
  position: absolute;
  z-index: 10;
}

/* /////////////////////
Modal Video
///////////////////// */

@keyframes modal-video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-video-inner {
  from {
    transform: translate(0, 100px);
  }
  to {
    transform: translate(0, 0);
  }
}

.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.modal-video-effect-exit {
  opacity: 0;
}

.modal-video-effect-exit .modal-video-movie-wrap {
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  transform: translate(0, 100px);
}

.modal-video-body {
  max-width: 960px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.modal-video-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (orientation: landscape) {
  .modal-video-inner {
    padding: 10px 60px;
    box-sizing: border-box;
  }
}

.modal-video-movie-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: #333;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video-inner;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.35);
}

.modal-video-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  top: -45px;
  right: 0px;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
}

@media (orientation: landscape) {
  .modal-video-close-btn {
    top: 0;
    right: -45px;
  }
}

.modal-video-close-btn:before {
  transform: rotate(45deg);
}

.modal-video-close-btn:after {
  transform: rotate(-45deg);
}

.modal-video-close-btn:before,
.modal-video-close-btn:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
  border-radius: 5px;
  margin-top: -6px;
}

/* PreLoader */
.preloader {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #000000;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.preloader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  width: 70%;
  /* min-width: 150px; */
  max-width: 400px;
  transition: all 0.2s ease;
  animation: blink 3s;
  -webkit-animation: blink 3s;
}
.no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
    width: 10%;
  }
  100% {
    opacity: 1;
    width: 70%;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
    width: 10%;
  }
  100% {
    opacity: 1;
    width: 70%;
  }
}

/* COMIC SECTION */

.comic-section:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: url("/images/comic/bg-pattern-sm.png") repeat;
  background-color: #0385ff;
  transform: rotate(-5deg);
}

@media screen and (min-width: 640px) {
  .comic-section:before {
    background: url("/images/comic/bg-pattern-md.png") repeat;
  }
}
@media screen and (min-width: 1024px) {
  .comic-section:before {
    background: url("/images/comic/bg-pattern-lg.png") repeat;
  }
}

img {
  pointer-events: none;
}
